* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

  /*-------------------END OF CSS RESET-----------------------*/

body {
    background-color: #F7E4D4;
}

#root {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'EB Garamond', serif;
    font-size: 48px;
    font-weight: 400;
    color: #467745;
}

@media (max-width: 520px) {
    h1 {
        left: 0;
        transform: none;
        margin: 20px;
        font-size: 36px;
    }
}

.form {
    position: relative;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
}
input {
    /* position: relative;
    top: 240px;
    left: 50%;
    transform: translateX(-50%); */
    /*max-width: 480px; it doesn't work with max-width*/
    width: 480px;
    height: 64px;
    padding: 15px;
    background-color: white;
    font-size: 16px;
    font-weight: 500; /*medium weight is 500; the weight on the screenshot is semibold = 600*/
}

::placeholder {
    color: #467745;
    opacity: 0.65; /*it was not in the description, but in the screenshot, the color is lighter*/
}

@media (max-width:520px) {
    input, textarea {
        max-width: calc(100% - 40px); 
    }
}

textarea {
    /* position: relative;
    top: 320px;
    left: 50%;
    transform: translateX(-50%); */
    /*max-width: 480px; it doesn't work with max-width*/
    width: 480px;
    height: 120px;
    padding: 15px;
    margin-top: 15px;
    background-color: white;
    font-size: 16px;
    font-weight: 500; /*the same as above; medium weight is 500; the weight on the screenshot is semibold = 600*/
}


input[type=checkbox] {
    position: relative;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 15px 0 0;
    width: 16px;
    height: 16px;
}

label {
    position: relative;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px;
    color: #467745;
}

a {
    font-weight: 600;
    text-decoration: underline;
}

button {
    position: relative;
    top: 440px;
    left: 0;
    transform: translateX(-50%);
    width: 280px;
    height: 80px;
    margin-top: 20px;
    background-color: #467745;
    border-radius: 50px;
    font-family: 'EB Garamond', serif;
    font-size: 21px;
    color: #F7E4D4;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}